.ui.stackable.equal.width.grid
  .column
    button.ui.button Default
    button.ui.primary.button Primary
    button.ui.secondary.button Secondary
    button.ui.basic.button Basic
    button.ui.compact.button
      | Compact
    .ui.divider
    button.ui.icon.button
      i.heart.icon
    button.ui.labeled.icon.button
      i.heart.icon
      | Labeled
    button.ui.right.labeled.icon.button
      i.heart.icon
      | Labeled
    .ui.divider
    .ui.buttons
      button.ui.button Combo
      .ui.floating.dropdown.icon.button
        i.dropdown.icon
        .menu
          .item Choice 1
          .item Choice 2
          .item Choice 3
    .ui.floating.search.dropdown.button
      span.text Search Dropdown
      .menu
        .item Arabic
        .item Chinese
        .item Danish
        .item Dutch
        .item English
        .item French
        .item German
        .item Greek
        .item Hungarian
        .item Italian
        .item Japanese
        .item Korean
        .item Lithuanian
        .item Persian
        .item Polish
        .item Portuguese
        .item Russian
        .item Spanish
        .item Swedish
        .item Turkish
        .item Vietnamese
    .ui.divider
    .ui.animated.button(tabindex="0")
      .visible.content Horizontal
      .hidden.content
        | Hidden
    .ui.vertical.animated.button(tabindex="0")
      .visible.content Vertical
      .hidden.content
        | Hidden
    .ui.animated.fade.button(tabindex="0")
      .visible.content Fade In
      .hidden.content
        | Hidden
    .ui.divider
    button.ui.disabled.button Disabled
    button.ui.loading.button Loading
    .ui.divider
    .ui.buttons
      button.ui.button 1
      button.ui.button 2
      button.ui.button 3
    .ui.icon.buttons
      button.ui.button
        i.align.left.icon
      button.ui.button
        i.align.center.icon
      button.ui.button
        i.align.right.icon
      button.ui.button
        i.align.justify.icon
    .ui.buttons
      button.ui.button 1
      .or
      button.ui.button 2
    .ui.divider
    .ui.two.top.attached.buttons
      .ui.button One
      .ui.button Two
    .ui.attached.segment
      img.ui.wireframe.image(src="img/paragraph.png")
    .ui.two.bottom.attached.buttons
      .ui.button One
      .ui.button Two
  .column
    button.ui.mini.button Mini
    button.ui.tiny.button Tiny
    button.ui.small.button Small
    button.ui.large.button Large
    button.ui.big.button Big
    button.ui.huge.button Huge
    button.ui.massive.button Massive
    .ui.divider
    .spaced
      button.yellow.ui.button Yellow
      button.orange.ui.button Orange
      button.green.ui.button Green
      button.teal.ui.button Teal
      button.blue.ui.button Blue
      button.purple.ui.button Purple
      button.pink.ui.button Pink
      button.red.ui.button Red
      button.black.ui.button Black
    .ui.divider
    .ui.inverted.segment
      button.ui.inverted.button Inverted
      button.ui.inverted.basic.button Basic
      button.ui.inverted.blue.button Colored
      button.ui.inverted.blue.basic.button Basic Colored
