.ui.two.column.stackable.grid
  .column
    .ui.action.left.icon.input
      i.search.icon
      input(type="text", placeholder="Search...")
      .ui.teal.button Search
    .ui.divider
    .ui.input.error
      input(type="text", placeholder="Search...")
    .ui.divider
    .ui.right.labeled.input
      input(type="text", placeholder="Placeholder")
      .ui.dropdown.label
        .text Dropdown
        i.dropdown.icon
        .menu
          .item Choice 1
          .item Choice 2
          .item Choice 3
    .ui.divider
    .ui.transparent.icon.input
      input(type="text", placeholder="Search...")
      i.search.icon
    .ui.transparent.left.icon.input
      input(type="text", placeholder="Search...")
      i.search.icon
    .ui.divider
    .ui.left.icon.input.loading
      input(type="text", placeholder="Loading...")
      i.search.icon
    .ui.icon.input.loading
      input(type="text", placeholder="Loading...")
      i.search.icon
  .column
    .ui.right.labeled.left.icon.input
      i.tags.icon
      input(type="text", placeholder="Enter tags")
      a.ui.tag.label
        | Add Tag
    .ui.divider
    .ui.labeled.input
      a.ui.label
        | Label
      input(type="text", placeholder="Placeholder...")
    .ui.divider
    .ui.right.labeled.input
      input(type="text", placeholder="Placeholder...")
      a.ui.label
        | Label
    .ui.divider
    .ui.labeled.icon.input
      .ui.label
        | http://
      input(type="text", placeholder="domain.com")
      i.add.circle.link.icon
    .ui.right.action.input
      input(type="text", placeholder="domain.com")
      .ui.teal.button
        i.add.icon
        | Add
    .ui.divider
    .ui.corner.labeled.input
      input(type="text", placeholder="Required Field")
      .ui.corner.label
        i.asterisk.icon
