doctype html
html(lang="en")
  head
    link(rel="stylesheet", type="text/css", href='lib/components/reset.min.css')
    link(rel="stylesheet", type="text/css", href='lib/components/container.min.css')
    link(rel="stylesheet", type="text/css", href='css/style.css')

    title Semantic UI Front-End Page
  body

  script(type='text/javascript', src='lib/jquery.min.js')
  script(type='text/javascript', src='js/main.js')