doctype html
html(lang="en")
  head
    // build:css css/vendor.css
    // bower:css
    // endbower
    // endbuild
    
    // build:css css/plugins.css
    link(rel="stylesheet", type="text/css", href='../bower_components/semantic-ui/dist/semantic.min.css')
    // endbuild
    // bower:css
    // endbower
    // build:css css/style.css
    link(rel="stylesheet", type="text/css", href='css/style.css')
    // endbuild
    title Semantic UI Front-End Page
  body
    
    h1 Semantic-UI Theming Examples
    h2.ui.dividing.header Site
    
    include ./includes/basic.jade
    h2.ui.dividing.header Menu
    include ./includes/menu.jade
    h2.ui.dividing.header Buttons
    include ./includes/button.jade
    h2.ui.dividing.header Table
    include ./includes/table.jade
    h2.ui.dividing.header Input
    include ./includes/input.jade
    h2.ui.dividing.header Card
    include ./includes/card.jade
    
  // build:js js/vendor.js
  // bower:js
  // endbower
  //endbuild
  // build:js js/plugins.js
  // endbuild
  // build:js js/main.js
  script(type='text/javascript', src='js/main.js')
  // endbuild