body {
    margin: 0 auto;
    width: 80%;
}
.color.grid {
    margin: -1.5em;
    width: 400px;
}
.ui.table {
	table-layout: fixed;
}
.color.grid .column {
	margin: 0.5em;
	width: 50px;
	height: 50px;
}